/node_modulenode_modules/node_modules
/.pnp
.pnp.js

#covering

/coverage

#misc

.Ds_Store
.env.local
.env.develpment.local
.env.test.local
.env.production.local

npm-debu.log
s/node_modules
/.pnp
.pnp.js

#covering

/coverage

#misc

.Ds_Store
.env.local
.env.develpment.local
.env.test.local
.env.production.local

npm-debu.log
/.pnp
.pnp.js

#covering 

/coverage 

#misc

.Ds_Store
.env.local
.env.develpment.local
.env.test.local
.env.production.local

npm-debu.log*
yarn-debug.log*
yarn-error.log*

.Ds_Store
.env.local
.env.develpment.local
.env.test.local
.env.production.local

npm-debu.log*
yarn-debug.log*
yarn-error.log*
~                    
.DS_Store
.AppleDouble
.LSOverride

.Python
env/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec
*.log
*.pot
*.pyc
__pycache__/
local_setting.py

.env
db.sqlite3

node_modules
package-lock.json
*.log
*.log
.env
