.DS_Store
.AppleDouble
.LSOverride

.Python
env/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec
*.log
*.pot
*.pyc
__pycache__/
local_setting.py

.env
db.sqlite3

node_modules
package-lock.json
*.log
*.log
.env
